<div class="content-wrapper d-flex fd-column jc-start ai-center">
  <eg-molecule-game-nav-card
    class="card"
    header="Quick Draw"
    description="Try to quick bit the computer in this fast paced game of quick draw!"
    backgroundImageUrl="assets/images/games/quick-draw-bg.jpg"
    link="/game/quick-draw"
    linkText="Go and play"
  />

  <eg-molecule-game-nav-card
    [isComingSoon]="true"
    class="card"
    header="Tic Tac Toe"
    description="A simple game of Tic Tac Toe. Play and see if you can beat the computer!"
    backgroundImageUrl="assets/images/games/tic-tac-toe-bg.jpg"

  />

  <eg-molecule-game-nav-card
    class="card"
    header="[HIDDEN NAME]"
    description="[HIDDEN DESCRIPTION]"
    backgroundImageUrl="assets/images/games/coming-soon-bg.jpg"
    [isComingSoon]="true"
  />
</div>
