:host {
  gap: 12px;
  .link {
    color: var(--color-gray);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    &.active,
    &:hover {
      color: var(--color-primary);
    }
    &:not(.active):hover {
      text-decoration: underline;
    }
  }
}
