<div class="content-wrapper d-flex fd-column ai-center jc-center">
  <ng-container *ngIf="core.gameNotStarted">
    <eg-quick-draw-setup-manager
      (startGame)="core.initGame()"
    />
  </ng-container>

  <ng-container *ngIf="!core.gameNotStarted">
    <eg-quick-draw-score
      [gameStatus]="core.getGameStatus"
      [round]="core.getGameRoundCount"
      [livesCount]="core.getPlayerLivesCount"
      [timerValue]="core.getTimerValue"
    />

    <div class="game-area-wrapper">
      <eg-quick-draw-notification *ngIf="notification.getViewStatus">
      </eg-quick-draw-notification>

      <eg-quick-draw-game-area
        (cellClickHandler)="core.cellClickHandler($event)"
      />
    </div>

    <eg-quick-draw-control />
  </ng-container>
</div>
