:host {
  gap: 12px;
}

.header-wrapper {
  border: 1px solid var(--color-gray-600);
  border-radius: 6px;
  overflow: hidden;
}

.block {
  width: 100%;
  padding: 4px 24px;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--color-gray-600);
  display: flex;
  align-items: center;
  justify-content: center;
  &.status {
    color: var(--color-white);
    background-color: var(--color-success);
  }
  &.round {
    color: var(--color-white);
    background-color: var(--color-info);
  }
  &.timer {
    min-width: 100px;
  }
}

.gamers-wrapper {
  border: 1px solid var(--color-gray-600);
  border-radius: 6px;
  overflow: hidden;

  .player {
    gap: 12px;
    padding: 6px 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* Child nodes */
    & span {
      font-size: 14px;
      font-weight: 400;
      color: var(--color-light);
    }
    & strong {
      font-size: 24px;
      font-weight: 600;
      color: var(--color-white);
    }
    /* State */
    &.active {
      background-color: var(--color-primary);
    }
    &.waiting {
      background-color: var(--color-yellow);
      & span,
      & strong {
        color: var(--color-black);
      }
    }
    &.win {
      background-color: var(--color-green);
    }
    &.lose {
      background-color: var(--color-red);
    }
  }
}

@media screen and (min-width: 768px) {
  .gamers-wrapper {
    flex-direction: row;
    .player {
      width: 100%;
    }
  }
}
