:host {
  min-height: 40px;
  max-height: 40px;
  height: 100%;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  border-radius: 6px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  /* State */
  &:active {
    background-color: var(--color-primary);
  }
  &:focus-visible {
    box-shadow: 0 0 0 4px rgba(var(--color-primary-rgb), 0.25);
  }
  /* Attr */
  &:disabled {
    background-color: var(--color-gray);
    cursor: not-allowed;
  }
  /* Styles */
  &[btn-style='secondary'] {
    background-color: var(--color-secondary);
    &:focus-visible {
      box-shadow: 0 0 0 4px rgba(var(--color-secondary-rgb), 0.25);
    }
  }
  &[btn-style='success'] {
    background-color: var(--color-success);
    &:focus-visible {
      box-shadow: 0 0 0 4px rgba(var(--color-success-rgb), 0.25);
    }
  }
  &[btn-style='info'] {
    color: var(--color-dark);
    background-color: var(--color-info);
    &:focus-visible {
      box-shadow: 0 0 0 4px rgba(var(--color-info-rgb), 0.25);
    }
  }
  &[btn-style='light'] {
    color: var(--color-dark);
    background-color: var(--color-light);
    &:focus-visible {
      box-shadow: 0 0 0 4px rgba(var(--color-light-rgb), 0.25);
    }
  }
  &[btn-style='warning'] {
    background-color: var(--color-warning);
    &:focus-visible {
      box-shadow: 0 0 0 4px rgba(var(--color-warning-rgb), 0.25);
    }
  }
  &[btn-style='danger'] {
    background-color: var(--color-danger);
    &:focus-visible {
      box-shadow: 0 0 0 4px rgba(var(--color-danger-rgb), 0.25);
    }
  }
}
